body{color: blue;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 10px auto;
text-align: center;
}
header, main{
    margin: 20px auto;
    padding: 5px,5px;
    width: 75%;
}
h1 h2 h3{
    font-size: larger;
    font-weight: bolder;
    text-align: left
}
main p{
    text-align: left;
}